<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/notes.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <div>
                    <div class="heading">
                        <h2>Hey, <%= isAuthenticated ? user.username : 'Guest' %></h2>
                        <div class="add-note"><a href="/notes/create">+ New Note</a></div>
                    </div>
                    <% if (isAuthenticated && notes.length> 0) { %>
                        <div class="notes-wrapper">
                            <% for (let note of notes) { %>
                                <div class="note-item">
                                    <a href="/notes/<%= note._id %>/details">
                                        <div class="note-item-title">
                                            <%= note.title.length> 20 ? note.title.substring(0, 20) + '...' : note.title
                                                %>
                                        </div>
                                        <div class="note-item-desc">
                                            <%= note.description.length> 150 ? note.description.substring(0, 150) +
                                                '...' :
                                                note.description %>
                                        </div>
                                    </a>
                                </div>
                                <% } %>
                        </div>

                        <p class="pages-info">Page <%= currentPage %> out of <%= lastPage %></p>
                        <section class="pagination">
                            <% if (hasPreviousPage && previousPage > 1) { %>
                                <a href="/notes/all?page=1"><<</a>
                            <% } %>

                            <% if (hasPreviousPage) { %>
                                <a href="/notes/all?page=<%= previousPage %>"><</a>
                            <% } %>

                            <a href="/notes/all?page=<%= currentPage %>" class="active"><%= currentPage %></a>

                            <% if (hasNextPage) { %>
                                <a href="/notes/all?page=<%= nextPage %>">></a>
                            <% } %>

                            <% if (hasNextPage && nextPage < lastPage) { %>
                                <a href="/notes/all?page=<%= lastPage %>">>></a>
                            <% } %>
                        </section>

                        <% } else { %>
                            <p class="notes-info">You don't have any notes yet!</p>
                            <% } %>
                </div>
            </main>

        <%- include('../includes/footer.ejs') %>
    </body>

    </html>